.DS_Store
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
project.xcworkspace/
xcuserdata/

School Escape/School Escape/Classes/GameCenter.h

School Escape/School Escape.xcodeproj/project.xcworkspace/xcuserdata/imac.xcuserdatad/UserInterfaceState.xcuserstate
