<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Screen shot 2014-03-21 at 11.37.24 AM.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{359,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,510}}</string>
                <key>sourceSize</key>
                <string>{359,510}</string>
            </dict>
            <key>Screen shot 2014-03-21 at 11.37.37 AM.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,512}}</string>
                <key>sourceSize</key>
                <string>{362,512}</string>
            </dict>
            <key>Screen shot 2014-03-21 at 11.37.51 AM.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{359,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,510}}</string>
                <key>sourceSize</key>
                <string>{359,510}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero-man.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bdd2f5ea90055758fc9910358c79671:7594f0492eba78affec3d906f3e5cf2a:583d57231a11c2e020da82b58ad94ada$</string>
            <key>textureFileName</key>
            <string>hero-man.png</string>
        </dict>
    </dict>
</plist>
