<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>runningman1.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,2},{245,293}}</string>
			<key>offset</key>
			<string>{44,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{101,69},{245,293}}</string>
			<key>sourceSize</key>
			<string>{359,377}</string>
		</dict>
		<key>runningman2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{330,356}}</string>
			<key>offset</key>
			<string>{16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,0},{330,356}}</string>
			<key>sourceSize</key>
			<string>{362,356}</string>
		</dict>
		<key>runningman3.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,2},{295,244}}</string>
			<key>offset</key>
			<string>{-12,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,104},{295,244}}</string>
			<key>sourceSize</key>
			<string>{359,368}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>runningmansheet.png</string>
		<key>size</key>
		<string>{878,360}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ab9ba7eba7a3ae6be94bc84c71d464d9:ae9050be9e500cfa1cad6ed63fac911e:5a7232f1436db98126bdeb04210063c1$</string>
		<key>textureFileName</key>
		<string>runningmansheet.png</string>
	</dict>
</dict>
</plist>
