<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>runningman1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,516},{359,440}}</string>
			<key>offset</key>
			<string>{0,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,70},{359,440}}</string>
			<key>sourceSize</key>
			<string>{359,510}</string>
		</dict>
		<key>runningman2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{362,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,512}}</string>
			<key>sourceSize</key>
			<string>{362,512}</string>
		</dict>
		<key>runningman3.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,516},{295,244}}</string>
			<key>offset</key>
			<string>{-12,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,104},{295,244}}</string>
			<key>sourceSize</key>
			<string>{359,510}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hero-man.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b0ce9f4da29e5f0bffdb6e321bce4f00:8ad8c7c8f4ef7f42de8fda6cb62bf409:583d57231a11c2e020da82b58ad94ada$</string>
		<key>textureFileName</key>
		<string>hero-man.png</string>
	</dict>
</dict>
</plist>
